.row{
  font-size: 120%;
  float: left;
  border: 20px solid black;
  padding: 20px;
  margin: 20px;
  width: 80%;
  box-sizing: content-box;
  color : #222;
}

.row1{
  box-sizing: border-box;
  font-size: 250%;
  float: left;
  border: 20px solid black;
  padding: 20px;
  margin: 20px;
  width: 80%;
}
