@media screen and (max-width: 640px){

  #ancre{
  	position: absolute;
  	top: 80%;
  	left: 41%;
  }

  .dropdown{
  visibility: hidden;
  }

  #txt_header{
    position: absolute;
    text-align: center;
    color: #eee;
    font-size: 23px;
    font-family: bebas;
    /*text-shadow: 0px 0px 0px purple;*/
  }

  h2{
    font-size: 35px;
    font-family: bebas;
    padding: 20px;
  }

}



@media screen and (min-width: 760px){
  h2{
    font-size: 45px;
    font-family: bebas;
  }
    #ancre{
    	position: absolute;
    	top: 80%;
    	left: 46%
    }

    .dropdown{
    visibility: hidden;
    }

    #txt_header{
      position: absolute;
      text-align: center;
      color: #eee;
      font-size: 23px;
      font-family: bebas;
      /*text-shadow: 0px 0px 0px purple;*/
    }
}

@media screen and (max-width: 1024px){
  h2{
    font-size: 45px;
    font-family: bebas;

  }
}

@media screen and (min-width:1180px){
  h2{
    font-size: 50px;
    font-family: bebas;
    padding: 20px;
  }


  #ancre{
  	position: absolute;
  	top: 80%;
  	left: 47.65%;
  }

  .dropdown{
    margin-left: 10px;
  }
}
