.container {
  position: relative;
  width: 90%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 10;
  background-color: #222222;
  overflow: hidden;
  width: 92%;
  height:0;
  transition: .5s ease;
  opacity: 0.9;
}

.first:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 92%;
  margin-left:
}

.second:hover .overlay {
  bottom: 0;
  height: 100%;
}

.third:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
