@font-face {
font-family: 'bebas';
src: url('../fonts/bebas.ttf') format('truetype');
}



html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee;
}

header {
	display: block;
	position: relative;
	background-image: url(../img/fond.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
  width: 100%;
	min-height: 100%;

}

.icon:hover{
	display: inline-block;
	transition: all 0.5s;
	transform: scale(1.3,1.3);
}

.icon{
	padding-left: 5px;
	padding-right: 5px;

}

.navbar-brand{
	font-size: 280%;
	font-family: goldoni;
}

#txt_header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #eee;
	font-family: bebas;
	font-size: 40px;
	text-shadow: 0px 1px 1px black;
}

/*ANIMATION ANCRE*/
#ancreclick{
position: absolute;
top:10px;
bottom:10px;
-webkit-animation:animcercle 0.5s alternate infinite ease-in-out;
}
@-webkit-keyframes animcercle{
    from {top:1px;}
    to {bottom:1px;}
}

/*TITRE*/
h1{
	font-size: 60px;
}

main h2 {
	font-family: bebas;
	font-size: 50px;
	text-align: center;
	color: #303030;
}


main > div {
	padding-bottom: 70px;
	padding-top: 70px;
	text-align:center;
	color: rgb(128, 128, 128);
}

#menu_1{
	text-align: center;
	font-size: 25px;
}

#panel{
	background-color: #e3e3e3;
	display:none;
	position: relative;
	}

#panel_1{
	background-color: white;
	position: relative;
	width: 70%;
	margin: auto;
	height: 500px;
}

.banniere{
	width: 100%;
}

#menu_2 {
	background-color: #e3e3e3;
	font-size: 25px;
}

#menu_3 {
	font-size: 25px;
}

footer{
	padding-top: 17px;
	text-align: center;
	font-family: ubuntu;
	background-color: rgb(22, 23, 26);
	color: orange;
	height: 178px;
	width: 100%;
}
