/*html{
  background-color: brown;
}

#table{
  width: 60%;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 20%;
}

table{
  background-color: white;
  text-align: center;

}

h1{
  color: white;
  font-size: 600%;
  text-align: center;
  font-family: bebas;
}

th{
  text-align: center;
}*/
