nav {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: sans;
  font-weight: bold;
}
@media all and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
}
div {
  padding: 5px;
  flex: 1 1 auto;
  text-align: center;
  border: 2px solid white;
}
div:hover {
  background-color: black;
}

picture{
  max-width: 100%;
}

footer{
  text-align: center;
  margin-top: 10%;
  background-color: pink;
  color: white;
  max-width: 100%;
}
