.logo{
  max-width: 20%;
}

.col-md-12{
  text-align: center;
  background: #222222
}

picture{
  max-width: 100%;
}

footer{
  text-align: center;
  margin-top: 10%;
  background-color: pink;
  color: white;
  max-width: 100%;
}
